
:root {
	--background: #44475a;
	--title: #50fa7b;
	--button-color: #bd93f9;
	--item-background: #282a36;
	--text_title: #8be9fd;
	--text_detail: #f1fa8c;
	--text: #f8f8f2;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	width: 1280px;
	height: max-content;
	margin: 10px auto;
	background-color: var(--background);
}

h3 {
	font-size: 35px;
	text-align: center;
	height: 50px;
	margin-top: 20px;
	color: var(--title);
}

ul {
	width: 100%;
	min-height: 300px;
	height: max-content;
}

li {
	list-style-type: none;
	width: 100%;
	height: 100px;
	background-color: var(--item-background);
	margin: 5px 0;
}

.content {
	width: 65%;
	height: 100%;
	font-size: 30px;
	float: left;
	margin-right: 10px;
}

.title {
	color: var(--text_title);
}

.detail {
	color: var(--text_detail);
}

.title, .detail {
	display: block;
	width: 100%;
	height: 45px;
	margin: 2.5px 0;
}

.function_buttons {
	width: 30%;
	height: 100%;
	float: right;
}

a {
	display: flex;
	width: 120px;
	height: 45px;
	background-color: var(--button-color);
	margin: 2.5px auto;
	border-radius: 8px;
	align-items: center;
	justify-content: center;
	font-size: 25px;
	color: var(--text);
}

a:-webkit-any-link {
	text-decoration: none;
	font-weight: 800;
}

.add {
	margin-top: 30px;
}

