<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<link rel="stylesheet" th:href="@{/style.css}">
	<title>Todo App</title>
</head>
<body>
	<h3>My simple Todo App </h3>
	<ul>
		<li th:each="todo : ${listTodo}">
			<span class="title" th:text="*{todo.getTitle()}">
				heelo
			</span>
			<span class="detail" th:text="*{todo.getDetail()}">
				hello
			</span>
		</li>
	</ul>	
	<a th:href="@{/add}">Add Todo</a>
</body>
</html>